@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

html {
    --bg__color: rgb(20, 20, 20);
    --bg__color__light: rgb(25, 25, 25);

    --sb-track-color: #232E33;
    --sb-thumb-color: rgba(255, 255, 255, 0.4);
    --sb-size: 16px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg__color);
    color: white;
    font-family: 'signika';
}

nav {
    background-color: var(--bg__color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.nav__edits {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.nav__edits * {
    margin: 4px;
}

.nav__search {
    display: flex;
    align-items: center;
}

.nav__search * {
    margin: 4px;
}

.nav__search-bar {
    display: flex;
    align-items: center;
    background: var(--bg__color__light);
    border-radius: 99px;
    color: grey;
}

.nav__search-bar--field {
    border: none;
    padding: 8px;
    background: none;
    caret-color: white;
    color: white;
}

.nav__search-bar--field::placeholder {
    color: grey;
}

.nav__search-bar--field:focus {
    outline: none;
}

.nav__search--icon {
    margin-left: 12px;
}

.nav__browse--icon {
    margin-right: 12px;
}

.nav__controls {
    display: flex;
    margin-right: 12px;
}

.nav__controls * {
    margin: 4px;
}

.sections {
    position: absolute;
    display: flex;
    justify-content: center;
    height: calc(100% - 130px);
    width: 100%;
}

section {
    background: var(--bg__color__light);
    height: 100%;
    border-radius: 8px;
    display: flex;
    margin: 0 4px;
    flex-direction: column;
    overflow: hidden;
}

section#home {
    width: 50%;
    padding: 16px 48px;
}

section#library,
section#now-playing {
    width: 23%;
    padding: 16px;
}

.section__title {}

.category {
    background-color: #242424;
    padding: 4px 16px;
    border-radius: 99px;
    margin-right: 8px;
    font-weight: 500;
}

.selected__category {
    background-color: white;
    color: var(--bg__color)
}


.library__categories,
.home__categories {
    display: flex;
    margin: 12px 0;
}



.search__top-result--song .home__main {
    visibility: hidden;
}

.search__results {
    display: flex;
}

.search__songs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 282px;
}

.track__item,
.artist__item {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.track__item img,
.artist__item img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.track__artist {
    color: #b4b4b4;
    font-size: 13px;
}

.artist__item img {
    border-radius: 50%;
}

.search__top-result--song .track__item {
    display: flex;
    flex-direction: column;
}

.search__top-result--song .track__info {
    display: flex;
    width: 100%;
    margin-top: 12px;
}

.search__top-result--song .track__item img {
    width: 250px;
    height: 250px;
}

.track__item p {
    margin: 0;
}

.track__info,
.artist__info {
    display: flex;
    flex-direction: column;
}


.search__results {
    display: none;
}

.search__open .search__results {
    display: flex;
}

.search__open .home__main {
    display: none;
}


.playback {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playback__song,
.playback__controls,
.playback__edits {
    width: 30%;
    display: flex;
    align-items: center;
}

.playback__song {
    height: 100%;
}

.playback__song .track__item {
    width: 100%;
    height: 100%;
    margin-left: 32px;
    margin-top: 0;
}

.playback__song .track__info {
    display: flex;
    justify-content: start;
}

.playback__song .track__info p {
    width: 100%;
}

.playback__controls {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.playback__play-pause {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg__color);
    padding: 8px 7px 8px 9px;
    border-radius: 100px;
}

.playback__forward,
.playback__backward {
    margin: 0 8px;
}

.playback__controls--bar {
    height: 5px;
    width: 100%;
    margin-top: 8px;
    background-color: #b4b4b4;
    border-radius: 100px;
    position: relative;
}

.playback__controls--bar::before {
    content: '0:00';
    position: absolute;
    left: -40px;
    top: -150%;
}

.playback__controls--bar::after {
    content: '3:29';
    position: absolute;
    right: -40px;
    top: -150%;
}

.playback__controls--icons {
    display: flex;
    justify-content: center;
    align-items: center;
}


.playback__edits {
    justify-content: end;
    margin-right: 32px;
}

.playback__edits * {
    margin: 0 10px !important;
}

.playback__volume--bar {
    height: 5px;
    width: 25%;
    background-color: #b4b4b4;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}

.playback__volume--bar::after {
    content: '';
    background-color: white;
    width: 65%;
    height: 100%;
    position: absolute;
}