@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

html {
    --bg__color: rgb(0, 0, 0);
    --bg__color__light: rgb(18, 18, 18);

    --sb-track-color: #232E33;
    --sb-thumb-color: rgba(255, 255, 255, 0.4);
    --sb-size: 16px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--bg__color);
    color: white;
    font-family: 'signika';
}

i {
    cursor: pointer;
}

nav {
    background-color: var(--bg__color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.nav__edits {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.nav__edits * {
    margin: 4px;
}

.nav__search {
    display: flex;
    align-items: center;
}

.nav__search * {
    margin: 4px;
}

.nav__search-bar {
    display: flex;
    align-items: center;
    background: var(--bg__color__light);
    border-radius: 99px;
    color: grey;
}

.nav__search-bar--field {
    border: none;
    padding: 8px;
    background: none;
    caret-color: white;
    color: white;
}

.nav__search-bar--field::placeholder {
    color: grey;
}

.nav__search-bar--field:focus {
    outline: none;
}

.nav__search--icon {
    margin-left: 12px;
}

.nav__browse--icon {
    margin-right: 12px;
}

.nav__controls {
    display: flex;
    margin-right: 12px;
}

.nav__controls * {
    margin: 4px;
}

.sections {
    position: absolute;
    display: flex;
    justify-content: center;
    height: calc(100% - 130px);
    width: 100%;
}

section {
    height: 100%;
    border-radius: 8px;
    display: flex;
    margin: 0 4px;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

section#home {
    width: 56%;
    padding: 16px 48px;
    background: linear-gradient(rgb(67, 56, 129), var( --bg__color__light ) 25% );
}

#library,
#now-playing {
    background: var(--bg__color__light);
    width: 20%;
    padding: 16px 16px 0 16px;
}

#library {
    padding: 16px 16px 0 8px;
}

.category {
    background-color: #242424;
    padding: 4px 16px;
    border-radius: 99px;
    margin-right: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.category:hover {
    background-color: #2c2c2c;
}

.selected__category {
    background-color: white;
    color: var(--bg__color)
}

.selected__category:hover {
    background-color: white;
}


.library__categories,
.home__categories {
    display: flex;
    margin: 12px 0;
}



.search__top-result--song .home__main {
    visibility: hidden;
}

.search__results {
    display: flex;
    flex-direction: column;
}

.search__categories {
    display: flex;
    margin-bottom: 32px;
}

.search__results--container {
    display: flex;
    margin: 0 auto;
}

.search__songs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 282px;
    width: 500px;
    max-width: 100%;
}

.track__item,
.artist__item {
    display: flex;
    align-items: center;
    padding: 6px 0 6px 8px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.track__item:hover,
.artist__item:hover {
    background-color: rgba(150, 150, 150, 0.1);
}

.track__item img,
.artist__item img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.track__item:hover img,
.artist__item:hover img {
    filter: brightness(0.7);
}

.track__item--play {
    position: absolute;
    top: 25px;
    left: 28px;
    visibility: hidden;
}

.track__item:hover .track__item--play,
.artist__item:hover .track__item--play {
    visibility: visible;
}

.track__artist {
    color: #b4b4b4;
    font-size: 13px;
}

.artist__item img {
    border-radius: 50%;
}

.track__dur {
    position: absolute;
    right: 8px;
    color: #b4b4b4;
}

.search__top-result--song .track__item {
    display: flex;
    flex-direction: column;
}

.search__top-result--song .track__info {
    display: flex;
    width: 100%;
    margin-top: 12px;
}

.search__top-result--song .track__item img {
    width: 250px;
    height: 250px;
}

.track__item p {
    margin: 0;
}

.track__info,
.artist__info {
    display: flex;
    flex-direction: column;
}


.search__results {
    display: none;
}

.search__open .search__results {
    display: flex;
}

.search__open .home__main {
    display: none;
}

.library__main {
    overflow-x: hidden;
    overflow-y: scroll;
}

.home__recents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home__recent {
    background-color: rgba(255, 255, 255, 0.103);
    height: 48px;
    width: calc( 25% - 8px );
    margin: 4px;
    display: flex;
    align-items: center;
    text-indent: 12px;
    border-radius: 4px;
    overflow: hidden;
}

.home__recent img {
    height: 100%;
}

.home__sub-section {
    margin-top: 32px;
}

.home__sub-section--container {
    display: flex;
}

.home__track--item {
    margin-right: 16px;
    margin-top: 16px;
    font-size: 14px;
}

.home__artist--item {
    margin-right: 16px;
    margin-top: 16px;
    font-size: 14px;
}

.home__track--item img {
    height: 120px;
    width: 120px;
}

.home__artist--item img {
    height: 120px;
    width: 120px;
    border-radius: 100px;
}

.home__track--info {
    margin-top: 4px;
    line-height: 1.5;
}

.home__track--artist {
    color: #b4b4b4;
    font-size: 13px;
}

.home__artist--sub-heading {
    color: #b4b4b4;
}

.playback {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playback__song,
.playback__controls,
.playback__edits {
    width: 30%;
    display: flex;
    align-items: center;
}

.playback__song {
    height: 100%;
}

.playback__song--item {
    width: 100%;
    height: 100%;
    margin-left: 32px;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.playback__song--item img {
    height: 50px;
    width: 50px;
    margin-right: 12px;
}

.playback__song .track__info {
    display: flex;
    justify-content: start;
}

.playback__song .track__info p {
    width: 100%;
}

.playback__controls {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.playback__play-pause {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg__color);
    padding: 8px 7px 8px 9px;
    border-radius: 100px;
    transition: all 0.2s ease;
}

.playback__play-pause:hover {
    transform: scale(1.02);
    filter: brightness(0.9);
}

.playback__forward,
.playback__backward {
    margin: 0 8px;
}

.playback__controls--bar {
    height: 5px;
    width: 100%;
    margin-top: 8px;
    background-color: #b4b4b4;
    border-radius: 100px;
    position: relative;
    text-indent: 102%;
    line-height: 30%;
}

.playback__controls--bar::before {
    content: '0:00';
    position: absolute;
    left: -70px;
}

.playback__controls--icons {
    display: flex;
    justify-content: center;
    align-items: center;
}


.playback__edits {
    justify-content: end;
    margin-right: 32px;
}

.playback__edits * {
    margin: 0 10px !important;
}

.playback__volume--bar {
    height: 5px;
    width: 25%;
    background-color: #b4b4b4;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}

.playback__volume--bar::after {
    content: '';
    background-color: white;
    width: 65%;
    height: 100%;
    position: absolute;
}